.container {
    /*width: 1440px;*/
    /*height: 5540px;*/
    /*top: -2127px;*/
    /*left: -4263px;*/
    /*gap: 0px;*/
    /*opacity: 0px;*/
    /*padding: 0;*/
    padding: 0 15px;
}
.mobile{
    display: none;
}
a, p {
    font-family: inter, serif;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 176px;
    /*было*/
    /*height: 56 pxp;*/
    /*margin: right 200px;*/
    /*стало*/
    height: 56px;
    margin-right: 200px;


}

.logo img {
    width: 100%;
    height: 100%;
}

.nav-bar-text a {
    font-size: 12px;
    font-weight: 600;
    left: 20px;
    text-decoration: none;
    color: #000000;
}


/*
не нужно задавать ширину высоту и тд, потому что это все происходит автоматически, так как это главный контейнер для капусты
для картинки можно задавать ширину и высоту, а для главного контейнера используйте padding*/
/*.cabbage {*/
/*    width: 1110px;*/
/*    height: 567px;*/
/*    top: 127px;*/
/*    left: 165px;*/
/*    padding: 30px 65px 30px 65px;*/
/*    background: #E6FFC0;*/

/*}*/

/*
я добавил display flex для того что бы оптимизировать контейнер
далее я добавил flex-direction: column - это грубо говоря display:block, только в flex контейнере
использовал я это для того что бы все шло блоками,
если бы не было     flex-direction: column; то     align-items: center; выравнивало бы элементы по горезонтали,
а так как есть column то выравнивание происходит по горизонтально
*/

.cabbage {
    padding: 30px 65px 30px 65px;
    background: #E6FFC0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
не нужно в ручную задавать параметры ширины и высоты для того что бы выровнять картинку,
ширину и высоту используют для того что бы картинка была статично одного размера
и так же падинги лучше использовать для главного контейнера,
а длыя картинки уже margin как внешиний отступ внтури главного контейнера для капусты
*/
/*.cabbage img {*/
/*    width: 532px;*/
/*    height: 430px;*/
/*    display: flex;*/
/*    padding: 30px 289px 107px 289px;*/
/*}*/
.cabbage img {
    width: 532px;
    height: 430px;
    /*display: flex;*/
    /*    padding: 30px 289px 107px 289px;*/

}

.cabbage p {
    font-size: 65px;
}

.any {
    /* width: 1110px; */
    height: 442px;
    margin-top: 40px;
    background: #FFFFE9;
    display: flex;
    padding: 30px 65px;
    justify-content: center;

}

.cake {

    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.oil {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 40px;
}

.cake img, .oil img {

    max-height: 295px;
}

/*было*/
/*.cake p, .oil p, .капуста p {*/

/*    font-size: 64px;*/
/*    font-weight: 400;*/
/*    line-height: 77.45px;*/

/*    color: #000000;*/

/*}*/

/*стало*/
.cake p, .oil p {
    font-size: 64px;
    font-weight: 400;
    line-height: 77.45px;

    color: #000000;
}

.vegetables {
    /* width: 1110px; */
    /*height: 417px;*/
    /*top: 1266px;*/
    /*left: 165px;*/
    padding: 30px 65px 30px 65px;
    display: flex;
    margin-top: 50px;

    background: #B8BEB6;
    /* justify-content: center; */
}

.blue-container {
    background: #C5E9FC;
    width: 100%;
    display: flex;
    justify-content: center;
}

.blue-container:nth-child(2) {
    margin-left: 50px;
}

.onion {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.broccoli {
    width: 50%;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-container img {
    height: 300px;
    width: 300px;
}

.blue-container p {
    font-size: 64px;
}

.shelf {
    height: 374px;
    margin-top: 40px;
    background: #FFFFE9;
    display: flex;
    padding: 30px 65px;
    justify-content: center;

}

.cucumber {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 40px;
}

.radish {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 40px;
}

.lemon {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 40px;

}

.eggs {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cucumber img, .radish img, .lemon img, .eggs img {
    width: 100%;
    height: 231px;
}

.cucumber p, .radish p, .lemon p, .eggs p {
    font-size: 64px;
    font-weight: 400;
    line-height: 72.61px;
    color: #000000;

}

.meat {

    padding: 30px 65px 30px 65px;
    display: flex;
    height: 581px;
    background: #B8BEB6;
}

.block {
    width: 100%;
    height: 521px;
    padding: 30px 65px 30px 65px;
    background: #C5E9FC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meat img {
    height: 404px;
    transform: rotate(270deg);
}

.meat p {
    font-size: 64px;
    font-weight: 400;
    line-height: 72.61px;
    color: #000000;
}

.fruits {
    height: 504px;
    margin-top: 60px;
    background: #B8BEB6;
    display: flex;
    padding: 30px 65px 30px 65px;
}

.fruits img {
    width: 100%;

    display: flex;
    justify-content: center;
}

.pizza {
    height: 709px;
    background: #B8BEB6;
    margin-top: 60px;
    padding: 30px 65px 30px 65px;
}

.w-block {
    height: 649px;
    padding: 30px 65px 30px 65px;
    background: #C5E9FC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pizza img {
    width: 532px;
}

.pizza p {
    font-size: 64px;
    font-weight: 400;
    line-height: 72.61px;
    color: #000000;
}

.ice-cream {
    height: 469px;
    margin-top: 60px;
    background: #FFFFE9;
    display: flex;
    padding: 30px 65px;
    justify-content: space-between;
}

.ice {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ice2 {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ice img, .ice2 img {
    height: 320px;
}

.ice p, .ice2 p {
    font-size: 64px;
    font-weight: 400;
    line-height: 72.61px;
    color: #000000;
}

.shelf2 {
    padding: 30px 65px 30px 65px;
    display: flex;
    margin-top: 60px;
    background: #B8BEB6;
}

.blue-container {
    background: #C5E9FC;
    display: flex;
    justify-content: center;
}

.blue-container:nth-child(2) {
    margin-left: 50px;
}

.bed {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cauliflower {
    width: 50%;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-container img {
    height: 300px;
    width: 300px;
}

.blue-container p {
    font-size: 64px;
}

@media (max-width: 992px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .logo{
        margin-right: 50px;
    }
}
.cabbage-mobile
{ display: block;
    height: 193px;
  align-content: center;
    margin-top: 81px;
    padding: 20px 66px 48px 66px;
    background: #E6FFC0;

}
.cabbage-mobile img
{   padding: 0 0;
    height: 125px;
align-content: center;
    margin-right: 50px;
    /*display: flex;*/
    /*    padding: 30px 289px 107px 289px;*/

}
.cabbage-mobile p
{
    height: 28px;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.84px;
    color: #000000;
}
@media (max-width: 576px) {
    .logo {
        max-width: 63px;
        max-height: 20px;
    }
}
.any-mobile {
     display: block;
    height: 648px;
    margin-top: 30px;
    background: #FFFFE9;
    padding: 20px 15px 20px 15px;
     justify-content: center;
}
.cake-mobile {
    width: 40%;
    height: 140px;
    padding: 20px 109px 16px 109px;
   align-items: center;
    display: block;
}

.oil-mobile {width: 20%;
    height: 140px;
    padding: 16px 126px 16px  126px ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: block;
}

.cake-mobile img, .oil-mobile img {

    max-height: 140px;
}
.cake-mobile p, .oil-mobile p {
    font-size: 23px;
    font-weight: 400;
    line-height: 27.84px;

    color: #000000;
}






@media (min-width: 576px){
    .container {
        max-width: 540px;


    }
}



@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}


@media (min-width: 991px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1199px) {
    .container {
        max-width: 1140px;
    }
}





